:root {
  --clr-white: #fff;
  --clr-black: #000;
  --clr-gray-100: #F2F2F2;
  --clr-green-950: #004140;
  --clr-green-500: #19B89D;
  --clr-cyan-800: #006971;
  --clr-cyan-500: #26B5C0;
  --clr-gold-500: #E28625;
  --clr-gold-200: #FFD473;
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Big Shoulders';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/big-shoulders-v4-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/lexend-deca-v25-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;

  /* --- */
  background-color: var(--clr-gray-100);
  color: var(--clr-white);
  font-family: "Lexend Deca", 'Times New Roman', Times, serif;
  display: grid;
  place-content: center;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
  line-height: 1.65;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  font-family: "Big Shoulders", 'Times New Roman', Times, serif;
  line-height: 1.2;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.cards-section {
  display: grid;
  margin-inline: 24px;
  margin-block: 88px;
}

.card {
  max-width: 327px;
  padding: 48px;
}

.bg-gold {
  background-color: var(--clr-gold-500);
}

.bg-cyan {
  background-color: var(--clr-cyan-800);
}

.bg-green {
  background-color: var(--clr-green-950);
}

.clr-gold {
  color: var(--clr-gold-500);
}

.clr-cyan {
  color: var(--clr-cyan-800);
}

.clr-green {
  color: var(--clr-green-950);
}

.card__img {
  padding-block-end: 32px;
}

.card__title {
  font-size: 40px;
  font-weight: 700;
  color: var(--clr-gray-100);
  padding-block-end: 24px;
}

.card__text {
  opacity: 0.75;
  padding-block-end: 24px;
}

.card__text,
.card__link {
  font-size: 15px;
  font-weight: 400;
}

.card__link {
  display: inline-block;
  text-decoration: none;
  background-color: var(--clr-gray-100);
  padding: 8px 32px;
  border-radius: 25px;
}

@media screen and (min-width: 48rem) {
  .cards-section {
    margin-inline: 80px;
  }

  .card {
    max-width: 608px;
    padding: 48px 80px;
  }
}

@media screen and (min-width: 90rem) {
  body {
    height: 100vh;
  }

  .cards-section {
    margin-inline: 260px;
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    max-width: 921px;
    padding: 48px;
  }

  .card__img {
    padding-block-end: 40px;
  }

  .card__text {
    padding-block-end: 80px;
  }
}
